.home-container {
    .navbar-category {
        .navbar-toggle {
            width: 100%;
            border: 0;
            float: none;
            letter-spacing: 5px;
            font-size: @font-size-h3;
            &.collapsed {
                .nav-down {
                    display: inline-block;
                }
                .nav-up {
                    display: none;
                }
            }
            .icon-bar {
                background-color: @navbar-default-bg;
            }
            .nav-down {
                display: none;
            }
            .nav-up {
                display: inline-block;
            }
        }
    }
    #category_nav {
        &.in {
            overflow-y: visible;
        }
        li {
            &.dropdown {
                .dropdown-menu {
                    width: 100%;
                    padding-top: 0;
                    padding-bottom: 0;
                    li {
                        text-align: center;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        &:hover {
                            background-color: @brand-primary;
                            a {
                                color: #FFF;
                            }
                        }
                        &.active {
                            background-color: @brand-primary;
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }
            }
            &.parent {
                &.active {
                    a {
                        border-bottom-color: @brand-primary;
                        background-color: transparent;
                    }
                }
                > a {
                    color: @text-color;
                    border-bottom: 4px solid transparent;
                    &:hover {
                        border-bottom-color: @gray-dark;
                        background-color: transparent;
                    }
                }
            }
        }
        
    }

    /////////////////
    //// ALL ITEMS
    ////////////////
    .item-container {
        margin-top: @padding-base-horizontal;
        display: block;
        .product-item {
            margin-bottom: @padding-base-vertical;
            position: relative;
            opacity: 0;
        }
        .product-item-container {
            background-color: @product-item-background;
            // #gradient > .vertical( darken(@product-item-background, 16%), @product-item-background );
            display: block;
            .box-shadow( 0 0 1px lighten(@gray-base, 60%) );
            cursor: pointer;
            &:hover {
                .box-shadow( 0 0 3px lighten(@gray-base, 60%) );
                .description {
                    border-bottom-color: @gray;
                }
            }
            .description {
                color: @product-item-color;
                border-bottom: 2px solid @gray-light;
                padding: (@padding-base-vertical * 2.5) @padding-base-horizontal;
            }
            img {
                width: 100%;
            }
        }
    }
}
