.home-container {
    .navbar-category {
        .navbar-toggle {
            border-color: @gray;
            .icon-bar {
                background-color: @navbar-default-bg;
            }
            width: 100%;
            border-bottom: 2px dashed @gray-darker;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-right: 0;
            float: none;
            &.collapsed {
                .nav-down {
                    display: inline-block;
                }
                .nav-up {
                    display: none;
                }
            }
            .nav-down {
                display: none;
            }
            .nav-up {
                display: inline-block;
            }
        }
    }
    #category_nav {
        li.active {
            a {
                border-bottom-color: @brand-primary;
                background-color: transparent;
            }
        }
        a {
            color: @text-color;
            border-bottom: 4px solid transparent;
            &:hover {
                border-bottom-color: @gray-dark;
                background-color: transparent;
            }
        }
    }

/////////////////
//// ALL ITEMS
////////////////
    .item-container {
        margin-top: @padding-base-horizontal;
        display: block;
        .product-item {
            margin-bottom: @padding-base-vertical;
            position: relative;
            .transition( all 1s );
            &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger {
                .transition-delay( .5s );
            }
            &.ng-enter, &.ng-leave, &.ng-move {
                .transition( all 1s );
            }
            &.ng-enter-stagger {
                .transition-duration( 0s );
            }
            &.ng-enter {
                opacity: 0;
                .translate3d(0, 10%, 0);
                &.ng-enter-active {
                    opacity: 1;
                    transform: none;
                    -webkit-transform: none;
                }
            }
            &.ng-leave {
                opacity: 1;
                .animation( fadeOut 1s );
                &.ng-leave-active {
                    .transition( all 1s );
                    opacity: 0;
                }
            }
        }
        .product-item-container {
            background-color: @product-item-background;
            #gradient > .vertical( darken(@product-item-background, 16%), @product-item-background );
            display: block;
            .box-shadow( 0 3px 5px lighten(@gray-base, 60%) );
            cursor: pointer;
            &:hover {
                .description {
                    border-bottom-color: @gray;
                }
            }
            .description {
                color: @product-item-color;
                border-bottom: 2px solid @gray-light;
                padding: (@padding-base-vertical * 2.5) @padding-base-horizontal;
            }
            img {
                width: 100%;
            }
        }
    }
}
