.product-container {
    .product-item {
        margin-bottom: @padding-small-horizontal;
        padding-left: @padding-small-vertical;
        padding-right: @padding-small-vertical;
        position: relative;
        &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger {
            .transition-delay( .1s );
        }
        &.ng-enter, &.ng-leave, &.ng-move {
            .transition( all .3s );
        }
        &.ng-enter-stagger {
            .transition-duration( 0s );
        }
        &.ng-enter {
            opacity: 0;
            .translate3d(0, 10%, 0);
            &.ng-enter-active {
                opacity: 1;
                transform: none;
                -webkit-transform: none;
            }
        }
        &.ng-leave {
            opacity: 1;
            .animation( fadeOut .1s );
            &.ng-leave-active {
                .transition( all .1s );
                opacity: 0;
            }
        }
    }
    .product-item-container {
        // POLAROID EFFECTS
        background-color: @product-item-background;
        position: relative;
        .box-shadow( 0 2px 5px @gray-light );
        .transition( all .5s );
        &:hover {
            .box-shadow( 0 2px 7px @gray );
            cursor: pointer;
            .description {
                border-bottom-color: @gray;
            }
        }
        .description {
            padding: @padding-base-vertical;
            border-bottom: 2px solid @gray-lighter;
            max-height: 43px;
            overflow: hidden;
            color: @product-item-color;
        }
        .img {
            @media (min-width: @screen-lg-min) {
                max-width: @product-item-max-width;
                max-height: @product-item-max-height;
            }
            width: 100%;
            height: 100%;
            overflow: hidden;
            > img {
                width: 100%;
            }
        }
    }
    form {
        .control-label {
            text-align: left;
        }
    }
    .product-left {
        .product-description {
            font-size: @font-size-small;
            * {
                word-wrap: break-word;
            }
            .placeholder-text {
                color: @gray;
            }
        }
        .edit-mode {
            li {
                padding: 0;
                input {
                    border: 0;
                    padding: 10px 15px;
                    height: 41px;
                }
            }
        }
        .panel-title {
            button {
                position: absolute;
                right: 30px;
                margin-top: -6px;
                height: 30px;
                width: 40px;
            }
        }
    }
    .dropzone {
        border: 4px dashed @gray-light;
        border-radius: 10px;
        padding: @padding-base-vertical;
        min-height: 10px;
        margin-bottom: @padding-base-vertical;
        header {
            font-size: 3em;
            &.dropping {
                display: none;
            }
        }
        &.dz-drag-hover {
            border-color: @gray;
            background-color: @gray-lighter;
            box-shadow: 0 0 20px @gray-light;
        }
        .dz-progress {
            .dz-upload {
                background: @brand-primary;
            }
        }
        .dz-image {
            border-radius: 0;
        }
    }
    .product-images {
        .product-image {
            float: left;
            position: relative;
            width: 20%;
            padding-bottom: 20%;
            background-color: #FFF;
            border: 1px solid @gray-lighter;
            margin-right: @padding-small-vertical;
            margin-bottom: @padding-small-vertical;
            &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger {
                .transition-delay( .1s );
            }
            &.ng-enter, &.ng-leave, &.ng-move {
                .transition( all .3s );
            }
            &.ng-enter-stagger {
                .transition-duration( 0s );
            }
            &.ng-enter {
                opacity: 0;
                .translate3d(0, 10%, 0);
                &.ng-enter-active {
                    opacity: 1;
                    transform: none;
                    -webkit-transform: none;
                }
            }
            &.ng-leave {
                opacity: 1;
                &.ng-leave-active {
                    .transition( all .1s );
                    opacity: 0;
                }
            }
            a {
                position: absolute;
                left: 5px;
                right: 5px;
                top: 5px;
                bottom: 5px;
                overflow: hidden;
            }
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    .product-categories {
        .category {
            margin-right: @padding-small-vertical;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
    &.product-create {
        .product-left {
            .content-description {
                .animate {
                    position: relative;
                    &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger {
                        .transition-delay( .1s );
                    }
                    &.ng-enter, &.ng-leave, &.ng-move {
                        .transition( all .3s );
                    }
                    &.ng-enter-stagger {
                        .transition-duration( 0s );
                    }
                    &.ng-enter {
                        opacity: 0;
                        .translate3d(0, 10%, 0);
                        &.ng-enter-active {
                            opacity: 1;
                            transform: none;
                            -webkit-transform: none;
                        }
                    }
                    &.ng-leave {
                        opacity: 1;
                        &.ng-leave-active {
                            .transition( all .1s );
                            opacity: 0;
                        }
                    }
                }
            }
        }
        #product_description {
            background-color: #000;
            .placeholder-text {
                color: @gray-light;
            }
        }
    }
    .product-classes {
        .tags {
            padding-right: 1px;
            border-radius: 0;
            .tag-item {
                border-radius: 0;
                font-size: @font-size-small;
                font-family: @font-family-sans-serif;
                .remove-button {
                    &:hover {
                        color: @brand-danger;
                    }
                }
            }
        }
        input {
            font-family: @font-family-sans-serif;
        }
        .autocomplete {
            border-radius: 0;
            * {
                font-family: @font-family-sans-serif;
            }
            .suggestion-item {
                font-family: @font-family-sans-serif;
            }
        }
    }
    
    // ITEM PREVIEW
    .item-container {
        display: block;
        .preview-product-item {
            margin-bottom: @padding-base-vertical;
            position: relative;
        }
        .preview-product-item-container {
            background-color: @product-item-background;
            // #gradient > .vertical( darken(@product-item-background, 16%), @product-item-background );
            display: block;
            .box-shadow( 0 0 1px lighten(@gray-base, 60%) );
            cursor: pointer;
            &:hover {
                .box-shadow( 0 0 3px lighten(@gray-base, 60%) );
                .description {
                    border-bottom-color: @gray;
                }
            }
            .description {
                color: @product-item-color;
                border-bottom: 2px solid @gray-light;
                padding: (@padding-base-vertical * 2.5) @padding-base-horizontal;
            }
            img {
                width: 100%;
            }
        }
    }
    &.product-add-image {
        .page-header {
            margin-top: @line-height-computed;
            .item-rating {
                font-size: @font-size-h4;
                i {
                    cursor: pointer;
                    text-shadow: 0 1px 0 @gray-light;
                    letter-spacing: 4px;
                }
                .glyphicon-star {
                    color: #ffd700; // GOLD
                }
                .glyphicon-star-empty {
                    color: @gray-light;
                }
            }
        }
    }
}
