.settings-container {
    padding: @jumbotron-padding;
    background-color: #FFF;
    &.settings-permissions {
        .user {
            &.ng-enter-stagger, &.ng-leave-stagger, &.ng-move-stagger {
                .transition-delay( .1s );
            }
            &.ng-enter, &.ng-leave, &.ng-move {
                .transition( all .3s );
            }
            &.ng-enter-stagger {
                .transition-duration( 0s );
            }
            &.ng-enter {
                opacity: 0;
                .translate3d(0, 10%, 0);
                &.ng-enter-active {
                    opacity: 1;
                    transform: none;
                    -webkit-transform: none;
                }
            }
            &.ng-leave {
                opacity: 1;
                .animation( fadeOut .1s );
                &.ng-leave-active {
                    .transition( all .1s );
                    opacity: 0;
                }
            }
        }
        img {
            width: 70px;
            height: 70px;
        }
        .media-body {
            a {
                border: 1px solid @link-color;
                &:hover, &:focus {
                    border: 1px solid @link-hover-color;
                    color: @link-hover-color;
                }
                width: 31px;
                padding: 4px;
                text-align: center;
            }
            .permission-radio {
                label {
                    &.active {
                        background-color: @btn-danger-bg;
                        border-color: @btn-danger-border;
                    }
                }
            }
        }
    }
    &.settings-general {
        .logo-brand-image {
            img {
                width: auto;
                max-height: 100px;
            }
        }
        .input-description {
            color: @gray;
            margin-top: @padding-small-vertical;
            font-size: @font-size-small;
        }
    }
    &.settings-banner {
        #bannerPreview {
            display: none;
            margin-top: @padding-base-vertical;
            border: 0;
        }
        .settings-carousel {
            .carousel-indicators {
                .translate( 0, 100% );
                opacity: 0;
                .transition( all .4s );
                li {
                    margin-left: 5px;
                    margin-right: 5px;
                    border: 2px solid @gray-darker;
                    .box-shadow( 0 0 2px fade( @gray-lighter, 50% ) );
                    &.active {
                        background-color: @gray-darker;
                    }
                }
            }
            .carousel-control {
                opacity: 0;
                background: transparent;
                cursor: pointer;
                .transition( all .5s );
                span {
                    font-family: 'FontAwesome';
                    color: @gray-light;
                    text-shadow: none;
                    margin-top: -35px;
                    font-size: 4em;
                }
                &.right {
                    span:before {
                        content: @fa-var-angle-right;
                    }
                }
                &.left {
                    span:before {
                        content: @fa-var-angle-left;
                    }
                }
            }
            img {
                width: 100%;
            }
            .options {
                opacity: 0;
                .transition( opacity .3s );
            }
            &:hover {
                .carousel-control {
                    opacity: .7;
                }
                .carousel-indicators {
                    .translate( 0, 0 );
                    opacity: 1;
                }
                .options {
                    opacity: 1;
                }
            }

        }
    }
}
